body{
  padding: 2em;
  background: #e1e5ac;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aaadad, #f77373);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #aaadad, #f77373); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  margin-top: 6%;
}

h1 {
  text-align: center;
  color: grey
}

p {
  text-align: center;
}
